/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
/* universal selector apply to every element */
/* what this code do is reset because browser apply default margin, padding and etc*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*force box-sizing to be inherited, this is a better inheritance practice*/ }

html {
  /*root element*/
  /*dont use px for font size as user cannot change it*/
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  /*padding not getting inherited*/
  box-sizing: border-box;
  /*include padding and border in element height and width*/ }

.header {
  height: 95vh;
  /*95% of viewport*/
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  /*overlap two image*/
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem; }

.header__logo {
  height: 3.5rem; }

.header__text-box {
  position: absolute;
  top: 40%;
  /*this is relative to parent element*/
  left: 50%;
  transform: translate(-50%, -50%);
  /*this translate is relative to element itself*/
  text-align: center;
  /* this will center inline, inline-block and text to center */ }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  /* a hack to fix shaky at the end of animation although it doesn't happen to chrome 71 */
  margin-bottom: 6rem; }

.heading-primary--main {
  display: block;
  /* it occupy whole width */
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  /* animation-delay: 3s; 
    animation-iteration-count: 3; */ }

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: moveInRight 1s ease-out;
  /* shorthand */ }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.btn:link,
.btn:visited {
  /* link and visited is pseudo class */
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  /* more about display https://www.w3schools.com/css/tryit.asp?filename=trycss_inline-block_span1 */
  border-radius: 10rem;
  transition: all 0.2s;
  /* transition specify which and how the link, hover, active, visited work */
  position: relative;
  /* this is needed so the child element can use position absolute */
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3rem);
  /* move up */
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  /* when it is clicked */
  transform: translateY(-1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }

.btn::after {
  /* add pseudo element, basically like a child to the button, simply put it creates element in css */
  content: '';
  /* must specify content even it is empty or else there will be nothing */
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--white::after {
  background-color: #fff;
  color: #777; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
  /* apply animation style at 0% before animation start */ }
